/target/
/.idea/
/src/main/java/unify/Aggregate.java
/src/main/java/unify/ArityBranch.java
/src/main/java/unify/BacklinkSet.java
/src/main/java/unify/BenchmarkOld.java
/src/main/java/unify/CalculationChecker.java
/src/main/java/unify/Calculator.java
/src/main/java/unify/ComponentBranch.java
/src/main/java/unify/Copier.java
/src/main/java/unify/EstimateVisitor.java
/src/main/java/unify/HashedRelation.java
/src/main/java/unify/IdentityWrapper.java
/src/main/java/unify/Impossible.java
/src/main/java/unify/List.java
/src/main/java/unify/ListIterator.java
/src/main/java/unify/Notifiable.java
/src/main/java/unify/RecorderChecker.java
/src/main/java/unify/Referable.java
/src/main/java/unify/Reference.java
/src/main/java/unify/Referer.java
/src/main/java/unify/SilentlyUnifiable.java
/src/main/java/unify/StateRecorder.java
/src/main/java/unify/StateRestorer.java
/src/main/java/unify/TextToken.java
/src/main/java/unify/Tuple.java
/src/main/java/unify/TupleIndex.java
/src/main/java/unify/TupleIndexVisitor.java
/src/main/java/unify/TupleIterator.java
/src/main/java/unify/TypeConstrainer.java
/src/main/java/unify/Types.java
/src/main/java/unify/Unifiable.java
/src/main/java/unify/Unify.java
/src/main/java/unify/Unknown.java
/src/main/java/unify/Value.java
/src/main/java/unify/Variable.java
